<ion-view title="Détails d'un personnage">
	<ion-content>
		<div class="card">
			<div class="item item-text-wrap">
				<div ng-if="current_character.image">
					<img style="max-width:100%;" src="{{api_url}}{{current_character.image}}" alt="{{current_character.last_name}}" width="300">
				</div>
			</div>		
			<div style="white-space: normal"  class="item item-text-wrap">
				<strong>Nom : </strong> {{current_character.first_name}} {{current_character.last_name}}
			</div>
			<div  style="white-space: normal" class="item item-text-wrap">
				<strong>Titre : </strong> {{current_character.title}}
			</div>
			<div  style="white-space: normal" class="item item-text-wrap">
				<strong>Origine : </strong> {{current_character.origin}}
			</div>
			<div style="white-space: normal" class="item item-divider">
				<strong>Description : </strong><br><br>{{current_character.description}}
			</div>
		</div>
	</ion-content>
</ion-view>
