<ion-view title="Kaamelott">
	<ion-content>
		<div class="card">
			<div class="item item-divider">
				<strong> Bienvenue sur l'API de Kaamelott</strong>
			</div>
			<div class="item item-text-wrap">
				<img style="max-width:100%;" src="./img/kaamelott.png" alt="Kaamelott">
			</div>
			<div class="item item-text-wrap">
				Cette application vous permet de retrouver vos citations, acteurs et personnages préférés de la série légendaire Kaamelott.
				<br> <br>
				Le menu latéral vous permet de trier nos références par Personnages, Acteurs et Citations.
				<br> <br>
				Vous avez également la possibilité d'ajouter des citations.
				<br> <br>
				L'application a été développée par l'équipe SquareCom et est proposée gratuitement.
				<br> <br>
				Le contenu est libre de droit.
			</div>
		</div>
	</ion-content>
</ion-view>
